@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript">
        if (window.opener) {
            window.close();
        }
        else {
            window.location = 'http://cloudlab.io/';
        }
    </script>
</body>
</html>