<div class="tab-pane" id="T6">
    <div class="btn-toolbar">
        <div class="btn-group">
            <a id="Audio_PlayButton" class="btn btn-primary" title="Play" rel="tooltip" data-placement="bottom">
                <i class="icon-play icon-white"></i>
            </a>
        </div>
        <div class="btn-group">
            <div class="progress" style="width:400px; margin-bottom:1px; height:26px">
                <div id="Audio_Progress" class="bar" style="width:0%;height:26px;"></div>
            </div>
        </div>
    </div>
    @*<div class="progress">
        <div id="Audio_Progress" class="bar" style="width:0%;"></div>
    </div>*@
    <div id="audioContainer">
        <audio id="Audio_1" src="" type="audio/wav" />
    </div>
</div>
