<div class="tab-pane" id="T5">
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn"><i class="icon-resize-full"></i></a>
        </div>
    </div>
    <canvas id="canvasContainer" style="width:96%; margin-left:auto; margin-right:auto;"></canvas>
</div>