<div class="tab-pane" id="T3">
    <div id="documentationContainer">
        <ul id="DocumentationIndex" class="well nav nav-list span3" style="border-top-right-radius:0; border-top-left-radius:0;">
            <li><form id="doc-search-form">
                <input id="DocumentationSearch" x-webkit-speech placeholder="Search Documentation" style="margin:0" />
                </form>
                </li>
            <li style="text-align:center"><img src="/Content/images/mdd_ajax_loader.gif" /></li>
        </ul>
        <div id="DocumentationBody" class="span12" style="margin-top:25px;">
        </div>
    </div>
</div>