<div class="tab-pane" id="T4">
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-inverse"><i class="icon-share icon-white"></i> Export</a>
        </div>
    </div>
    <div id="graphingTabs" class="tabbable" style="padding: 10px 20px 0px 20px">
        <ul class="nav nav-pills">
            
        </ul>
        <div class="tab-content">
            
        </div>
    </div>
</div>