<div class="tab-pane" id="T_Resources">
    <div class="row" id="resourcesContainer">
        <div id="T_Resources_Sidebar" class="well span3" style="border-top-right-radius:0; border-top-left-radius:0; padding:0 0 10px 0; visibility:hidden">
            <ul class="nav nav-list">
                <li class="nav-header">File System</li>
            </ul>
            <ul class="nav nav-list">
                <li class="nav-header">Collections</li>
                <li><a data-toggle="modal" data-target="#NewCollectionModal"><i class="icon-plus"></i> New Collection</a></li>
            </ul>
        </div>
        <div class="span10">
            <table id="T_Resources_List" class="table table-bordered table-striped table-condensed tablesorter" style="border-radius:0; margin-top:-1px">
                <thead>
                    <tr>
                        <th style="width:14px"></th>
                        <th>Name</th>
                        <th style="width:100px">Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="3" style="text-align:center"><img src="/Content/images/mdd_ajax_loader.gif" /></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>