<div class="tabbable">
    <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a data-target="#terms-tab" data-toggle='tab'>Terms of Service</a></li>
        <li><a data-target="#privacy-tab" data-toggle='tab'>Privacy</a></li>
        <li><a data-target="#oss-tab" data-toggle='tab'>Open Source Software</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="terms-tab">
            <h3>Terms of Service</h3>
            <p>Here are our basic terms of service:</p>
            <ol>
                <li>Don't be a dick</li>
                <li>Don't resell our service</li>
            </ol>
            <p>That's all there is.</p>
        </div>
        <div class="tab-pane" id="privacy-tab">
            <h3>You</h3>
            <p>We honestly don't care who or what you are, because frankly that's none of our business. 
               We don't require any information from you aside from an e-mail address which we will 
               contact you on when you desire it. Any information you provide to us will remain with 
               us and not be sent offshore to a spam mining company.</p>

            <h3>Uploaded Tools & Data</h3>
            <p>We promise we're not going to release any data to anyone you don't want it released to, 
               except the authorities. But only if they're requesting specific items with a warrant 
               and all that legal shit. Also, we'll fight tooth and nail for you because that big 
               brother shit sucks.</p>
            <p>The only ones that can view your data are the operators of cloudlab.io (and we're even 
               working to make that impossible). We've got controls in place to only view your data 
               if the situation warrants it (support requests that you initiate) and only if there's 
               a real need (prompted by an issue of yours). We're not HIPAA- or PCI- or whatever 
               compliant (yet), so don't think that this is the best place for <em>that</em> kind of 
               data.</p>

            <h3>Tracking & Analytics</h3>
            <p>We use Google Analytics to see what we're doing right and what's going wrong or not 
               being utilized. We don't release this data to anyone, although technically Google 
               probably could. Anyway, we only use this data for quality assurance and to make the 
               service better. That's it. The best we can tell is what city you come from and what 
               kind of language/browser you're using.</p>
        </div>
        <div class="tab-pane" id="oss-tab">
                <h3>Open Source Software</h3>
                <p>We'd like to acknowledge and thank the following open source projects and assets used in the production of cloudlab.io:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Project/Asset</th>
                            <th>Link</th>
                            <th>License</th>
                            <th>About</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jurassic</td>
                            <td><a href="http://jurassic.codeplex.com/" class="label label-info">Codeplex</a></td>
                            <td><a href="http://jurassic.codeplex.com/license" class="label label-info">MS-PL</a></td>
                            <td><em>"Jurassic is an implementation of the ECMAScript language and runtime. It 
                                aims to provide the best performing and most standards-compliant implementation of 
                                JavaScript for .NET. Jurassic is not intended for end-users; instead it is intended 
                                to be integrated into .NET programs."</em></td>
                        </tr>
                        <tr>
                            <td>Math.NET Numerics</td>
                            <td><a href="http://numerics.mathdotnet.com/" class="label label-info">Mathdotnet</a></td>
                            <td><a href="http://mathnetnumerics.codeplex.com/license" class="label label-info">MIT</a></td>
                            <td><em>"Numerics is the numerical foundation of the Math.NET project, aiming to 
                                     provide methods and algorithms for numerical computations in science, engineering 
                                     and every day use. Covered topics include special functions, linear algebra, 
                                     probability models, random numbers, interpolation, integral transforms and 
                                     more."</em></td>
                        </tr>
                        <tr>
                            <td>Bootstrap, from Twitter</td>
                            <td><a href="http://twitter.github.com/bootstrap/" class="label label-info">Github</a></td>
                            <td><a href="https://creativecommons.org/licenses/by/3.0/" class="label label-info">CC&nbsp;BY&nbsp;3.0</a></td>
                            <td><em>"Simple and flexible HTML, CSS, and Javascript for popular user interface 
                                     components and interactions."</em></td>
                        </tr>
                        <tr>
                            <td>Glyphicons Halflings</td>
                            <td><a href="http://glyphicons.com/" class="label label-info">Glphicons</a></td>
                            <td><a href="https://creativecommons.org/licenses/by/3.0/" class="label label-info">CC BY 3.0</a></td>
                            <td><em>"GLYPHICONS is a library of precisely prepared monochromatic icons and symbols, 
                                     created with an emphasis on simplicity and easy orientation."</em></td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>
