@{ ViewBag.Title = "Node.js without the node.js"; }
<style>
.btn-xlarge {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
</style>
<div class="span12" style=" text-align:center">
    <img src="/Content/images/Logo.png" />
</div>
<div class="span12" style=" text-align:center">
    <a id="NavBar_AuthButton" class="btn btn-info btn-xlarge">Sign In</a>
</div>