<div id="markdownModal" class="modal modal-large hide fade">
    <div class="modal-body" id="markdownPreview" style="max-height:450px; overflow:auto;">
        <div class="row">
            <div class="span3">
                <h2>Tables</h2>
<pre>
Heading 1 | Heading 2
--------- | ---------
Cell A1   | Cell A2
Cell B1   | Cell B2</pre>
                <p style='text-align:center'><strong><em>OR</em></strong></p>
<pre>
| Heading 1 | Heading 2 |
| --------- | --------- |
| Cell A1   | Cell A2   |
| Cell B1   | Cell B2   |</pre>
                <h5>Alignment <small>left, center, right</small></h5>
<pre>
| Heading 1 | Heading 2 |
| --------- | :-------- |
| Cell A1   | Cell A2   |</pre>
<pre>
| Heading 1 | Heading 2 |
| --------- | :-------: |
| Cell A1   | Cell A2   |</pre>
<pre>
| Heading 1 | Heading 2 |
| --------- | --------: |
| Cell A1   | Cell A2   |</pre>
            </div>
            <div class="span3">
                <h3>Inline Styles</h3>
                <pre>**Bold** or __Bold__</pre>
                <pre>*Italics* or _Italics_</pre>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" >Close</a>
    </div>
</div>