<div class="btn-toolbar" style="margin-bottom:10px;">
    <div class="btn-group">
        <a id="mdUndo" class="btn" rel="tooltip" data-original-title="Undo"><i class="icon-backward"></i></a>
        <a id="mdRedo" class="btn" rel="tooltip" data-original-title="Redo"><i class="icon-forward"></i></a>
    </div>
    <div class="btn-group">
        <a id="mdBold"    class="btn" rel="tooltip" data-original-title="Bold Text"><i class="icon-bold"></i></a>
        <a id="mdItalic"  class="btn" rel="tooltip" data-original-title="Italic Text"><i class="icon-italic"></i></a>
        <a id="mdOutdent" class="btn" rel="tooltip" data-original-title="Decrease Quote"><i class="icon-indent-right"></i></a>
        <a id="mdIndent"  class="btn" rel="tooltip" data-original-title="Increase Quote"><i class="icon-indent-left"></i></a>
    </div>
    <div class="btn-group">
        <a id="mdUL"        class="btn" rel="tooltip" data-original-title="Bullet List"><i class="icon-list"></i></a>
        <a id="mdOL"        class="btn" rel="tooltip" data-original-title="Numbered List"><i class="list"></i> <small>123</small></a>
        <a id="mdHeading"   class="btn" rel="tooltip" data-original-title="Heading"><strong>H</strong></a>
        <a id="mdCode"      class="btn" rel="tooltip" data-original-title="Code" style="font-family:Consolas; height:18px;">&lt;&gt;</a>
        <a id="mdSeparator" class="btn" rel="tooltip" data-original-title="Horizontal Separator">&mdash;</a>
    </div>
    <div class="btn-group">
        <a id="mdLink"  class="btn" rel="tooltip" data-original-title="Hyperlink"><i class="icon-share-alt"></i></a>
        <a id="mdImage" class="btn" rel="tooltip" data-original-title="Image"><i class="icon-picture"></i></a>
    </div>
    <div class="btn-group">
        <a data-toggle="modal" data-target="#previewModal" class="btn" rel="tooltip" data-original-title="Preview Documentation"><i class="icon-refresh"></i></a>
        <a data-toggle="modal" data-target="#markdownModal" class="btn" rel="tooltip" data-original-title="Markdown Reference"><i class="icon-info-sign"></i></a>
    </div>  
</div>