<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">&laquo; cloudlab.io</a>
        </div>
    </div>
</div>