@{ ViewBag.Title = "cloudlab.io > Recovery Complete"; }

<div class="page-header">
    <h2>Recovery Complete</h2>
</div>
<div class="row">
    <div class="span8">
    </div>
    <div class="span8">
        <p>We just sent you an e-mail. Please check your the e-mail associated with your cloudlab.io account for instructions to recover your account. If you have not received an email soon, it might be tucked-away your junk/spam inbox.</p>
    </div>
</div>