<div id="DropboxInfoModal" class="modal hide fade in">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times</a>
        <h3>Dropbox Account Info</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="span3" style="width:270px">
                <table id="DropboxInfoModal_Table" class="table"></table>
                <p class="help-block">
                    This information is for your eyes only. 
                    We do not collect any of this information, nor will we 
                    disclose this information to third-parties.
                </p>
            </div>
            <div id="DropboxInfoModal_Graph" class="span3" style="height:200px">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" data-dismiss="modal">OK</a>
        <a class="btn btn-danger" data-dismiss="modal" id="DropboxInfoModal_Forget">Forget Account</a>
    </div>
</div>