<div id="DropboxDeAuthModal" class="modal hide fade in">
    <div class="modal-body">
        <p>Are you sure you want Cloudlab to forget about your authorization?</p>
        <p class="help-block"></p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-inverse" data-dismiss="modal"><i class="icon-remove icon-white"></i> Cancel</a>
        <a id="DropboxDeAuthModal_DeAuthorize" class="btn btn-danger" data-dismiss="modal"><i class="icon-ok icon-white"></i> Forget</a>
    </div>
</div>