<div id="DropboxAuthModal" class="modal hide fade in">
    <div class="modal-body">
        <div style="text-align:center">
            <img src="/Content/images/sync.png" />
        </div>
        <p>We want you to authorize Cloudlab! This will open up a separate window in 
           which you'll have to authorize cloudlab to access a specific folder in 
           your dropbox folder.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" data-dismiss="modal"><i class="icon-remove icon-white"></i> No Thanks</a>
        <a id="DropboxAuthModal_Authorize" class="btn btn-primary" data-dismiss="modal"><i class="icon-ok icon-white"></i> Authorize</a>
    </div>
</div>