<div id="FlattrModal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Donations</h3>
    </div>
    <div class="modal-body">
        <div class="span5">
            <p>Cloudlab is still under development and until we get payments going. We'd really appreciate anything you care to provide!</p>
        </div>
            <a class="FlattrButton" style="display:none;" href="http://cloudlab.io"></a>
            <noscript>
                <a href="http://flattr.com/thing/583428/Cloudlab-Cloud-Computing-with-a-Programmable-API" target="_blank">
                    <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
                </a>
            </noscript>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-inverse" data-dismiss="modal">Close</a>
    </div>
</div>