<div id="NewCollectionModal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>New Collection</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="input01">Collection Name</label>
                <div class="controls">
                    <input type="text" class="input-xlarge " id="NewColectionModal_Name" />
                    <p class="help-block">Collections allow you to group related files together regardless of where they in the filesystem.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Cancel</a>
        <a class="btn btn-inverse" data-dismiss="modal" id="NewCollectionModal_CreateButton">Create</a>
    </div>
</div>