#documentation-tab
{
	padding:10px;
}

table tbody tr
{
	cursor:pointer;
}

ul.nav.tabs
{
	height:600px;
}

#graphing-content
{
	margin:10px;
}

.btn-toolbar
{
	max-height:29px;
}

#localsTable
{
	max-width:300px;
}

table#mEdit tbody tr td,table#mEdit thead tr th
{
	width:40px;
	text-align:right;
}

.sp-top, .sp-middle, .sp-bottom
{
	margin-left:-19px;
}

.sp-top,.sp-bottom
{
	background-color:#F7F7F7;
}

.sp-middle,.CodeMirror-scroll
{
	height:482px;
}

.sp-top
{
	border-top:1px solid #DDD;
	border-right:1px solid #DDD;
	padding-top:2px;
	padding-bottom:5px;
	margin-top: 0px;
}

.sp-middle
{
	border-right:1px solid #DDD;
	margin-top: -9px;
}

.sp-bottom
{
	height:30px;
	border-bottom:1px solid #DDD;
	border-right:1px solid #DDD;
	font-family:Monospace;
	font-size:12px;
}

#sp-rowcol-field,#sp-validation-field
{
	padding-top:6px;
}

#sp-rowcol-field
{
	margin-right:5px;
}

.terminal .clipboard
{
	position:absolute;
	bottom:0;
	left:0;
	opacity:0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.01);
	width:2px;
}

.clipboard
{
	width:100%;
	height:100%;
	min-width:100%;
	max-height:100%;
}

.terminal
{
	position:relative;
	overflow:hidden;
	padding:10px;
}

.cmd
{
	height:1.3em;
	margin:0;
	padding:0;
}

.terminal .terminal-output div
{
	display:block;
}

.terminal,.terminal .terminal-output,.terminal .terminal-output div,.terminal .terminal-output div div,.cmd,.terminal .cmd span,.terminal .cmd div
{
	font-family:monospace;
	color:#000;
	background-color:#FFF;
	font-size:12px;
}

.terminal .cmd span
{
	float:left;
}

.terminal .terminal-output div.error,.terminal .terminal-output div.error div
{
	color:red;
}

.tilda
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:1100;
}

.clear
{
	clear:both;
}

.sp-top .btn-group,#sp-validation-field
{
	margin-left:30px;
}

.terminal .cmd span.inverted,.terminal div::-moz-selection,.terminal span::-moz-selection,.terminal div::selection,.terminal span::selection
{
	background-color:#aaa;
	color:#000;
}

.CodeMirror-completions {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}
.CodeMirror-completions select {
  background: #fafafa;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.nav-tabs {
    min-height: 550px;
}

.ide-scr {
	max-height:550px;
	overflow:auto;
	margin-left:-19px;
}

.terminalContainerStyle {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
	border-right:1px solid #DDD;
	height:550px;
	margin-left:-20px;
}

#terminalContainer {
    max-height:520px;
    margin-left:1px;
    margin-top:10px;
}